.cr_howWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    margin-bottom: 2rem;
    overflow: hidden;
}
.cr_howWork-title {
    color: var(--color-text2);   
    font-size: 30px;
    margin-bottom: 1rem;
}
.cr_howWork-text {
    color: var(--color-text1);
    font-size: 24px;
    padding: 2rem 0;
}
.cr_howWork-text .p2 {
    display:flex;
    justify-content: center;
}
.cr_howWork-feature{ 
    display: flex;
    margin-top:2rem;
}
@media screen and (max-width:1219px){
    .cr_howWork-feature {
        flex-direction: column;
    }
    .cr_howWork-text {
        text-align: center;
    }
}
@media screen and (max-width: 815px) {
    .cr_howWork-title h1{
        font-size: 54px;
        line-height: 54px;
    }
    .cr_howWork-text {
        font-size: 18px;
        line-height: 24px;
    }
    
}